/* Reset default styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  }

/* Body styling */
body {
background: linear-gradient(160deg, #79b8f0, #ae85d7, #499feb, #c45bb6);
    color: white;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}

/* Navbar */
nav {
display: flex;
justify-content: space-between;
align-items: center;
padding: 20px 50px;

}

nav h1 {
font-size: 24px;
}

nav a {
color: white;
text-decoration: none;
margin-left: 20px;
font-size: 16px;
transition: 0.3s;
}

nav a:hover {
color: #ffd700;
}

/* Hero Section */
.hero {
height: 80vh;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
}

.hero h2 {
font-size: 40px;
margin-bottom: 15px;
}

.hero p {
font-size: 18px;
margin-bottom: 25px;
}

/* Button */
.btn {
padding: 12px 25px;
background: #ffd700;
color: black;
text-decoration: none;
border-radius: 25px;
font-weight: bold;
transition: 0.3s;
}

.btn:hover {
background: white;
transform: scale(1.05);
}
